jahs_bench_data/assembled_surrogates.tar
jahs_bench_data/LICENSE
jahs_bench_data/assembled_surrogates/cifar10/FLOPS/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/FLOPS/model.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/FLOPS/params.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/latency/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/latency/model.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/latency/params.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/runtime/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/runtime/model.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/runtime/params.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/size_MB/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/size_MB/model.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/size_MB/params.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/test-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/test-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/test-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/train-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/train-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/train-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/valid-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/valid-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/cifar10/valid-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/FLOPS/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/FLOPS/model.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/FLOPS/params.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/latency/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/latency/model.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/latency/params.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/runtime/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/runtime/model.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/runtime/params.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/size_MB/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/size_MB/model.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/size_MB/params.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/test-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/test-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/test-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/train-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/train-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/train-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/valid-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/valid-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/colorectal_histology/valid-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/FLOPS/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/FLOPS/model.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/FLOPS/params.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/latency/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/latency/model.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/latency/params.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/runtime/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/runtime/model.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/runtime/params.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/size_MB/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/size_MB/model.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/size_MB/params.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/test-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/test-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/test-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/train-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/train-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/train-acc/params.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/valid-acc/label_headers.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/valid-acc/model.pkl.gz
jahs_bench_data/assembled_surrogates/fashion_mnist/valid-acc/params.pkl.gz
